.Article_list {
  .Article {
    display: grid;
    grid-template-columns: 8rem 1fr;
    border: 1px 1px 0 1px solid lime;
    &__header {
      a {
        font: 700 2px "Roboto", sans-serif;
        color: #f07e26;
        text-decoration: none;
      }
    }
  }
}
